--PORT=3001
--DATABASE_URL=postgres://postgres:postgres@localhost:5432/petcloud
--PUBLIC_PORTAL_URL=http://localhost:5173



DB_HOST='aws-1-us-west-1.pooler.supabase.com'
DB_PORT=6543
DB_NAME='postgres'
DB_USER='postgres.cngpcqijbjjvrunuycil'
DB_PASSWORD='lostsky2022.'
JWT_SECRET='canela208.'
PORT=8080



